.navbar-brand img{
    max-width: 150px;
}
.button{
    background-image: linear-gradient(90deg, #4a94ed, #0bb66a);
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    width: auto;
    display: block;
    text-decoration: none;
}
.button:hover{
    text-decoration: none;
    color: #fff;
}